<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Chroma DB UI</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="header">
  <h1>Chroma DB UI</h1>
</div>
<div class="container">
  <section class="side-panel">
    <h2>Collections</h2>
    <ul>
      <% @collections.each do |collection| %>
        <li>
          <a href="/?collection=<%= collection.name %>" class="<%= "selected" if collection.name == @current_collection.name %>">
            <%= h collection.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <section class="main-panel">
    <p>
      Total count: <%= @total_records_count %>
      |
      <% if @prev_page_number %>
        <a href="<%= "/?collection=#{@current_collection.name}&page=#{@prev_page_number}" %>">Prev page</a>
      <% else %>
        <a>Prev page</a>
      <% end %>
      |
      <% if @next_page_number %>
        <a href="<%= "/?collection=#{@current_collection.name}&page=#{@next_page_number}" %>">Next page</a>
      <% else %>
        <a>Next page</a>
      <% end %>
    </p>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Embedding</th>
        <th>Document</th>
        <th>Metadata</th>
      </tr>
      </thead>
      <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.id %></td>
          <td><%= record.embedding %></td>
          <td><%= h ellipsis(record.document, 500) %></td>
          <td><%= record.metadata %></td>
        </tr>
      <% end %>
      </table>
  </section>
</div>
</body>
</html>
